/**
  * sizing
  */
$breakpoints: (
    base: 1480px,
    xxsmall: 400px,
    xsmall: 550px,
    small: 775px,
    medium: 950px,
    large: 1000px,
    xlarge: 1150px,
    xxlarge: 1375px,
    xxxlarge: 1600px,
    tablet: 782px,
    desktop: 980px,
) !default;
